{% extends 'base.html' %}
{% comment %}  {% endcomment %}
{% block contenu %}
  <div class="row mt-2">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
            <form method="POST">{%csrf_token%}
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom :</label>
                    <input type="text" class="form-control" name="nom">
                </div>
                <div class="mb-3">
                    <label for="prenom" class="form-label">Prenom :</label>
                    <input type="text" class="form-control" name="prenom">
                </div>
                  
                <div class="mb-3">
                    <label for="Telephone" class="form-label">Telephone :</label>
                    <input type="text" class="form-control" name="telephone">
                </div>
                  
                <div class="mb-3">
                    <label for="email" class="form-label">email :</label>
                    <input type="email" class="form-control" name="email">
                </div>
                  
                  
                  <button type="submit" class="btn btn-primary">Enregistre</button>
            </form>
        </div>
      </div>
  </div>
{% endblock%}